- content_for :custom_js do
  :javascript
    $(document).ready(function(){
      $("#level-tabs").tabs({'active':#{params[:tab] || 0}});
    });
%h4{:style => "text-align:right; padding-top:20px; margin-bottom:3px;"}= link_to "Create a New Level", new_level_factory_path
%div#level-tabs
  %ul
    %li
      %a{:href => '#tab-drafts'} Drafts
    %li
      %a{:href => '#tab-published'} Published
  %div#tab-drafts
    %table
      %thead
        %tr
          %th
          %th Description
          %th Grid Size
          %th Created
          %th Last Modified
      %tbody
        - @levels.each do |level|
          - unless level.published?
            %tr
              %td= link_to level.name, edit_level_factory_path(level.id)
              %td= level.description
              %td= "#{level.grid_size}x#{level.grid_size}"
              %td= level.created_at.to_time.strftime("%Y-%m-%d")
              %td= level.updated_at.to_time.strftime("%Y-%m-%d")
  %div#tab-published
    %table
      %thead
        %tr
          %th
          %th Description
          %th Grid Size
          %th Published
          %th Users Completed
          %th Top Score
      %tbody
        - @levels.each do |level|
          - if level.published?
            %tr
              %td= link_to level.name, level_path(level.id)
              %td= level.description
              %td= "#{level.grid_size}x#{level.grid_size}"
              %td= level.updated_at.to_time.strftime("%Y-%m-%d")
              %td= level.completions.length
              %td= level.best_score || 'NA'