= raw("c = Collection.find(#{@level.collection.id});")
= raw("l = c.levels.build({:number => #{@level.number}, :grid_size => #{@level.grid_size}}, :bonus_time_limit => #{@level.bonus_time_limit}});")
- @level.meta_data.each do |md|
  = raw("l.meta_data.build({:key => '#{md.key.escape_single_quotes}', :value => '#{md.value.escape_single_quotes}'});")
- @level.game_pieces.each do |gp|
  = raw("gp = l.game_pieces.build({:cell => '#{gp.cell.escape_single_quotes}', :piece_type => '#{gp.piece_type.escape_single_quotes}', :piece => '#{gp.piece.escape_single_quotes}'});")
  - gp.meta_data.each do |meta|
    = raw("gp.meta_data.build({:key => '#{meta.key.escape_single_quotes}', :value => '#{meta.value.escape_single_quotes}'});")
= raw("l.save")