- popup = @level.meta_data.where(:key => 'popup').first
- content_for :custom_css do
  = stylesheet_link_tag "table.css"
  = stylesheet_link_tag "table-#{@level.grid_size}.css"
- content_for :custom_js do
  = javascript_include_tag "jquery.transform-0.9.3.min.js"
  = javascript_include_tag "gameplay"
  = javascript_include_tag "gravity.js"
  = javascript_include_tag "popup.js"
  - unless popup.nil?
    %script{:type => 'text/javascript'} $(document).ready(function(){$("#level-popup").click();});
%div#wrapper
  %div#nav
    %p#counter-clock-wise.rotate &nbsp;
    %p#clock-wise.rotate &nbsp;
    %p#cancel-level= link_to image_tag('/imgs/shared/cancel.png'), collection_path(:id => @level.collection.id)
    %p#reload-level= link_to image_tag('/imgs/shared/reload.png'), level_path(@level)
    - unless popup.nil?
      %p#level-popup
  = render "shared/game_board", :level => @level
  %div#level-info
    %p#level-collection-name= @level.collection.name
    %h3= "Level #{@level.number}"
    %div#user-current-stats
      %p.top-score
      %p.score-note Score
      %table
        %tr#current-rotations
          %td.stat-title Rotations
          %td.stat-value 0
        %tr#current-locks
          %td.stat-title Locks
          %td.stat-value
            %span 0
            = " / #{@level.total_lockable}"
        %tr#current-coins
          %td.stat-title Coins
          %td.stat-value 
            %span 0
            = " / #{@level.possible_coins}"
    %div#user-level-stats
      %h4 Your Best Score
      - if current_user.completed_levels.include? @level
        %p.top-score= current_user.best_score(@level)
        %table
          %tr
            %td.stat-title Rotations
            %td.stat-value= current_user.best_rotation(@level)
          %tr
            %td.stat-title Locks
            %td.stat-value= "#{current_user.best_locked(@level)} / #{@level.total_lockable}"
          %tr
            %td.stat-title Coins
            %td.stat-value= "#{current_user.best_coins(@level)} / #{@level.possible_coins}"
      - else
        %p.bold You have never completed this level.
    %div#level-stats
      %h4 Community Best Score
      - if @level.users_completed.length > 0
        %p.top-score= @level.best_score
        %table
          %tr
            %td.stat-title Rotations
            %td.stat-value= @level.best_rotation
          %tr
            %td.stat-title Locks
            %td.stat-value= "#{@level.best_locked} / #{@level.total_lockable}"
          %tr
            %td.stat-title Coins
            %td.stat-value= "#{@level.best_coins} / #{@level.possible_coins}"
      - else
        %p.bold No one has ever completed this level.
%div#popup-window
  %p#popup-close-button
  %div#popup-content
    - unless popup.nil?
      %div#startup-popup= raw(popup.value)
    %div#alert-popup
      %h3 &nbsp;
      %p.popup-button-row
        %input{:type => 'button', :value => 'Cancel', :id => 'alert-popup-cancel'}
        %input{:type => 'button', :value => 'OK', :id => 'alert-popup-ok'}
    %div#score-tally-popup
      %h1 Success!
      %table#tally
        %tr
          %td#tally-score
            %p#tally-score-value &nbsp;
            %p#tally-score-label Score
          %td#tally-score-details
            %p#tally-detail-rotations
              %span.tally-detail-label Rotations:
              %span.tally-detail-value &nbsp;
            %p#tally-detail-locks
              %span.tally-detail-label Locks:
              %span.tally-detail-value &nbsp;
            %p#tally-detail-coins
              %span.tally-detail-label Coins:
              %span.tally-detail-value &nbsp;
            %p#tally-detail-time
              %span.tally-detail-label Time Bonus:
              %span.tally-detail-value &nbsp;
      %div#honors
        %p &nbsp;
      %div#next-action-buttons
        = link_to image_tag('/imgs/shared/go-back.png'), collection_path(@level.collection), {:id => 'button-return', :title => 'Go Back'}
        = link_to image_tag('/imgs/shared/redo.png'), level_path(@level), {:title => 'Redo Level'}
        = link_to(image_tag('/imgs/shared/old_go_next.png'), level_path(@level.collection.levels.find_by_number(@level.number + 1)), {:title => 'Next Level'}) unless @level.collection.levels.find_by_number(@level.number + 1).nil?
%div#popup-background