- content_for :custom_css do
  = stylesheet_link_tag "table.css"
  = stylesheet_link_tag "table-#{@level.grid_size}.css"
- content_for :custom_js do
  = javascript_include_tag "jquery.transform-0.9.3.min.js"
  = javascript_include_tag "gravity.js"
%div#wrapper
  %div#nav
    %p#counter-clock-wise.rotate &nbsp;
    %p#clock-wise.rotate &nbsp;
    %p#reload= link_to image_tag('/imgs/shared/reload.png'), "/level/#{@level.id}"
  %div#board-wrapper
    %div#board.game-board
      %table{:id => "squares", :class => "board-grid", :cell_border => "1"}
        - @level.grid_size.times do |i|
          %tr
            - @level.grid_size.times do |j|
              %td{:class => 'square', :id => "row-#{i+1}-square-#{j+1}", :_cell => "#{i+1},#{j+1}"}
      %div#game-pieces
        - @level.game_pieces.each do |game_piece|
          %div{game_piece.class_hash, game_piece.attributes_hash}
  %div#level-info
    %h3= "Level #{@level.id}"
    %div#user-current-stats
      %h4 Current Attempt
      %table
        %tr
          %td.stat-title Rotations
          %td#current-rotations.stat-value 0
    %div#user-level-stats
      %h4 Your Best Scores
      - if current_user.completed_levels.include? @level
        %table
          %tr
            %td.stat-title Rotations
            %td.stat-value= current_user.best_rotation(@level)
      - else
        %p.bold No one has ever completed this level.
    %div#level-stats
      %h4 Community Best Scores
      - if @level.users_completed
        %table
          %tr
            %td.stat-title Rotations
            %td.stat-value= @level.best_rotation
      - else
        %p.bold No one has ever completed this level.
            