!!! 5
%html
  %head
    %title= title
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
    = stylesheet_link_tag "main.css"
    = yield :custom_css
    %script{:type => 'text/javascript', :src=> '//code.jquery.com/jquery-1.7.1.min.js'}
    %script{:type => 'text/javascript', :src=> '//code.jquery.com/ui/1.9.2/jquery-ui.js'}
    = javascript_include_tag "jquery_ujs.js"
    %script{:type => 'text/javascript', :src=> '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
    = javascript_include_tag "application.js"
    = yield :custom_js
    = csrf_meta_tag
  %body
    %div#top-nav-bar.nav-bar.navbar-default.navbar-static-top
      %div.container
        %ul.nav.navbar-nav
          - if current_user
            %li#username-dropdown.dropdown
              %a#username-dropdown-toggle.dropdown-toggle{"data-toggle" => "dropdown", :role => "button", :href => '#'}
                = current_user.email
                %span.caret
              %ul#username-menu.dropdown-menu{:role => "menu"}
                %li#username-menu-manage-coins= link_to "Manage Coins", transactions_path
                %li#username-menu-change-password= link_to "Change Password", edit_user_path(current_user)
                %li#username-menu-logout= link_to "Logout", logout_path
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Home", root_path
          %li= link_to "About", root_path
          - if current_user
            %li#navbar-coins
              %p.navbar-btn
                %a.btn.btn-default{:href => transactions_path}
                  %span#user-coins-current.bold= current_user.coins
                  
    %div#content-wrapper.container
      %h1.title= (@title.nil?) ? @base_title : @title
      %div#flash-messages
        - flash.each do |type, message|
          %div{:class => ["flash", type]}= message
      %div#content= yield
    %div#coin-float-message
    - unless params[:cdisp].to_s.blank?
      :javascript
        float_coin_message("#{params[:cdisp]}")
    %div#debug-info= debug(params) if Rails.env.development?